SportsStore1/wwwroot/lib/jquery/*
SportsStore1/wwwroot/lib/jquery-validate/*
SportsStore1/wwwroot/lib/jquery-validation-unobtrusive/*
SportsStore1/wwwroot/lib/fontawesome/*
SportsStore1/wwwroot/bin/Debug/*
SportsStore1/bin/Debug/*
SportsStore1/obj/Debug/*
SportsStore1/wwwroot/lib/bootstrap/*




